{% comment %}
    @param {Boolean} center 
{% endcomment %}

{% if include.center %}
<ul class="list-inline text-center">
{% else %}
<ul class="list-inline">
{% endif %}

  {% for link in site.social_links %}
  <li>
    <a target="_blank" href="{{ link.url }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        {% if link.text %}
        <i class="fa fa-stack-1x fa-inverse">{{ link.text }}</i>
        {% else %}
        <i class="fa fa-{{ link.icon }} fa-stack-1x fa-inverse"></i>
        {% endif %}
      </span>
    </a>
  </li>
  {% endfor %}
</ul>
